body {
	padding: 0;
	margin: 0;
	background-image: url("http://phozon.sonicscully.co.uk/images/TCTD_conceptart_Pandown.jpg");

	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.header {
	margin: 2vh;

	display: flex;
	flex-direction: row;
}